[submodule "usbhost-kernel"]
	path = usbhost-kernel
	url = git@github.com:gnychis/samsung-kernel-herring.git
[submodule "sgs2-skyrocket-kernel"]
	path = sgs2-skyrocket-kernel
	url = git@github.com:gnychis/sgs2-skyrocket-kernel.git
[submodule "sgs2-cm9-kernel"]
	path = sgs2-cm9-kernel
	url = git@github.com:gnychis/android_kernel_samsung_msm8660-common.git
[submodule "sgs3-cm10-kernel"]
	path = sgs3-cm10-kernel
	url = git@github.com:gnychis/android_kernel_samsung_d2.git
[submodule "linaro-android-toolchain"]
	path = linaro-android-toolchain
	url = git@github.com:gnychis/linaro-android-toolchain.git
[submodule "galaxynexus-cm10-kernel"]
	path = galaxynexus-cm10-kernel
	url = git@github.com:gnychis/android_kernel_samsung_tuna.git
[submodule "econotag-firmware"]
	path = econotag-firmware
	url = git@github.com:gnychis/econotag-firmware.git
